# function: starts with "def"

In [2]:
def test1():
    print("the above parenthesis is empty and test1 will written whatever is its function. here is to print.")
test1()

the above parenthesis is empty and test1 will written whatever is its function. here is to print.

In [3]:
a = 1
a

1

In [4]:
b = test1()

the above parenthesis is empty and test1 will written whatever is its function. here is to print.

In [5]:
type(b)

NoneType

In [9]:
def test2():
    return 5
test2()

5

In [8]:
test2()

5

In [10]:
d = test2()
d

5

In [11]:
type(d)

int

In [12]:
# "print always return None type. that's why b is nonetype and d is an integer."

In [13]:
b + "python"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [19]:
def type3():
    return "learn "

In [20]:
type3() + "python"

'learn python'

In [21]:
# concatination cannot be done with Nonetype.

In [23]:
# multiple type return is possible:
def test6():
    return 3,1, [3,4,5,"sudh"], (3,4,5,6)

In [24]:
test6()

(3, 1, [3, 4, 5, 'sudh'], (3, 4, 5, 6))

In [25]:
type(test6())

tuple

In [26]:
a,b,c,d = test6()

In [27]:
a

3

In [28]:
b

1

In [29]:
c

[3, 4, 5, 'sudh']

In [30]:
d

(3, 4, 5, 6)

In [32]:
def test8():
    a = 4 +5*8
    return a
test8()

44

In [50]:
l = [2,3,4,5,6,7,8,9]
summ = 0
for i in l:
    summ = summ + i
print(summ)

44

In [51]:
def test10():
    l = [2,3,4,5,6,7,8,9]
    summ = 0
    for i in l:
        if type(i)==int:
            summ = summ + i
    return summ
test10()

44

In [57]:
l2=[2,4,6,7,7.89,6.75]
def test11(l2):
    summ = 0
    for i in l2:
        if type(i)==int or float:
            summ = summ + i
    return summ
test11(l2)

33.64

In [58]:
l2=[2,4,6,7,7.89,6.75, 1]
test11(l2)

34.64

In [59]:
l3=[2,3,4]
test11(l3)

9

In [61]:
# adding "Docstring" or description of the function.
l2=[2,4,6,7,7.89,6.75]
def test11(l2):
    """this will add the elements of the list which are integer or float type."""
    summ = 0
    for i in l2:
        if type(i)==int or float:
            summ = summ + i
    return summ
test11(l2)

33.64

In [88]:
# try to try to find out the lenght of the string wothout using the inbuilt len function.
s = "shivani"
def lengths(s):
    n = 0
    for i in s:
        s.index(i) = s.index(i) + 1
        n = n + s.index(i)
    return n

SyntaxError: cannot assign to function call (1095174478.py, line 6)

In [89]:
lengths(s)

17

In [93]:
s = "shivani"
s.index

0