# Python list

In [1]:
l= [1,2, "shiv", "mongs", 1 + 2j]
for i in l:
    print(i)

1
2
shiv
mongs
(1+2j)

In [2]:
l= [1,2, "shiv", "mongs", 1 + 2j]
for i in range(-1, - len(l)-1 ,-1):
    print(i, l[i])

-1 (1+2j)
-2 mongs
-3 shiv
-4 2
-5 1

In [3]:
l[1]

2

In [4]:
l[0]

1

In [5]:
l[1::]

[2, 'shiv', 'mongs', (1+2j)]

In [6]:
l * 2

[1, 2, 'shiv', 'mongs', (1+2j), 1, 2, 'shiv', 'mongs', (1+2j)]

In [7]:
l*(-1)

[]

In [8]:
l*(-2)

[]

In [9]:
l*2+l

[1,
 2,
 'shiv',
 'mongs',
 (1+2j),
 1,
 2,
 'shiv',
 'mongs',
 (1+2j),
 1,
 2,
 'shiv',
 'mongs',
 (1+2j)]

In [10]:
len(l)

5

In [11]:
l = [45, 6,7,5,"inueron", True, False, 35, 62.56]
len(l)

9

In [12]:
# my_list = [] :- NOT RECOMMENDED
#my_list = list() # RECOMMENDED
#for i in range(5):
   # items = input("enter the items: ")
   # my_list = my_list + [items]
#print(my_list)

In [13]:
#list_1 = ['pen', 'pencil', 'eraser', 'scale', 'box']
#for i in list_1:
    print(i)

IndentationError: unexpected indent (1427458754.py, line 3)

In [14]:
#for i in range(4):
    #new_item = input(" ")
    #if new_item not in list_1:
      #  list_1 = list_1 + [new_item]
#print(list_1)

In [15]:
# since pencil was already there in the list, so it has been skipped.

In [16]:
#new_item = input("anything else to add: ")

#if new_item not in list_1: 
    #print("No, add it to the list")
   # list_1 = list_1 + [new_item]
#list_1

# Max/Min

In [17]:
names = ["shivani", "babita", "sati", "savitri"]
max(names)

'shivani'

In [18]:
names = ["shivani", "babita", "sati", "savitri"]
names.count(names[0])

1

In [19]:
string1 = "shivani is my firstname"

len(string1)

23

In [20]:
string1.split(" ")

['shivani', 'is', 'my', 'firstname']

In [21]:
names = ["shivani", "babita", "sati", "savitri"]
len(names[0])

7

In [22]:
names = ["shivani", "babita", "sati", "savitri"]
print(len(names[0]), len(names[1]), len(names[2]), len(names[3]))

7 6 4 7

In [23]:
names[0][-1::]

'i'

In [24]:
print(max(len(names[])))

SyntaxError: invalid syntax (664875159.py, line 1)

In [25]:
# first step is to print the elements with their length.
# second: write max length = 0 for comparison
# third: write result as empty string.
#forth: make a loop , in which we are calling elements and their length and comparing their lenght with the max_ lenth given.
# with each value comparison, replace the max length with the current element length and call for the highest length element.
names = ["shivani", "babita", "sati", "savitri"]

max_len = 0
result = ""

for name in names:
    print(name , len(name))

shivani 7
babita 6
sati 4
savitri 7

In [26]:
names = ["shivani", "babita", "sati", "savitri"]

max_len = 0
result = ""

for name in names:
    print(name , len(name))
    if len(name) > max_len:
        max_len = len(name)
result = result + name
print(f"maximum chrctr name: {result}; maximum character: {max_len}")

shivani 7
babita 6
sati 4
savitri 7
maximum chrctr name: savitri; maximum character: 7

In [27]:
table_items = ["books", "pens", "box", "teadybear", "waterbottle"]

max_len = 0

result = ""

for item in table_items:
    print(item, len(item))
    if len(item) > max_len:
        max_len = len(item)
result = result + item
print(f"max chrct item on table: {result}, max chrct is: {max_len} ")

books 5
pens 4
box 3
teadybear 9
waterbottle 11
max chrct item on table: waterbottle, max chrct is: 11

# Append method

In [28]:
a = [1,2,3]
a

[1, 2, 3]

In [29]:
a.append("4")

In [30]:
a

[1, 2, 3, '4']

In [31]:
a = a+[4,5]

In [32]:
a

[1, 2, 3, '4', 4, 5]

In [33]:
a = a + [[4,5]]

In [34]:
a

[1, 2, 3, '4', 4, 5, [4, 5]]

In [35]:
a.append(10)

In [36]:
a

[1, 2, 3, '4', 4, 5, [4, 5], 10]

In [37]:
a

[1, 2, 3, '4', 4, 5, [4, 5], 10]

In [38]:
names = ["apple", "banana", "cat", "guava", "apricot"]
max_len = 0
result = ""

for item in names:
    print(f"{item}, {len(item)}")
    if len(item) > max_len:
        max_len = len(item)
result = result + item
print(f"max char item: {result}, max char: {len(item)}")

apple, 5
banana, 6
cat, 3
guava, 5
apricot, 7
max char item: apricot, max char: 7

In [39]:
#remove odd number from list:
l = [1,34,56,67,89,88,90]
result = list()
for num in l:
    if num%2==0:
        result.append(num)
l=result
print(f"{l}")

[34, 56, 88, 90]

In [40]:
l

[34, 56, 88, 90]

In [41]:
l = sorted(l)

In [42]:
l

[34, 56, 88, 90]

In [43]:
#to reverse the order
l = l[::-1]

In [44]:
l

[90, 88, 56, 34]

In [45]:
#integer division: a//b
5//3

1

# Nesting of the list

In [46]:
A = [[1,2,3], [4,5,6]]
A

[[1, 2, 3], [4, 5, 6]]

In [47]:
a = [[1,2,3], [11,22,33,[500,502]], [45, [239,"Hii"], 56,77]]

In [48]:
# to extract "hii"
a[2][1][1]

'Hii'

In [49]:
#in reverse order
a[-1][-3][1]

'Hii'

In [50]:
a[-1][1][-1]

'Hii'

In [51]:
amazon_cart = [["watch", 5000], ["bag", 2000], ["bottle", 600]]

In [52]:
amazon_cart[0][1]

5000

In [53]:
amazon_cart[1][1]

2000

In [54]:
amazon_cart[2][1]

600

In [55]:
amazon_cart[0][1]+ amazon_cart[1][1] + amazon_cart[2][1]

7600

In [56]:
for i in range(len(amazon_cart)):
    print(amazon_cart[i][1])

5000
2000
600

In [57]:
total_cost = 0
for i in range(len(amazon_cart)):
    print(amazon_cart[i][1])
    total_cost = total_cost + amazon_cart[i][1]
print(total_cost)

5000
2000
600
7600

In [58]:
#best way:
amazon_cart = [["watch", 5000], ["bag", 2000], ["bottle", 600]]
tot_cost = 0
for item in amazon_cart:
    tot_cost = tot_cost + item[1]
print(tot_cost)

7600

# List comprehension

In [59]:
# creating list of squares of nos. 1 to 10:
l= list()
for i in range(1,11):
    i=i**2
    l.append(i)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
# creating list of squares of nos. 1 to 10:
l= list()
for i in range(1,11):
    i**2
    l.append(i**2)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
# List comprehension
a = [1,2,3,4,5,6,7,8,9,10]
l = [no**2 for no in a]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
#sqr of only odd no. in a list
lo = list()
l = [1,2,3,4,5,6,5,7,6,89,26,23,24]
for ele in l:
    if ele%2!=0:
        ele**2
        lo.append(ele**2)
print(lo)

[1, 9, 25, 25, 49, 7921, 529]

In [63]:
# list compreh.
l = [1,2,3,4,5,6,5,7,6,89,26,23,24]
lo = [ele**2 for ele in l if ele%2!=0]
print(lo)

[1, 9, 25, 25, 49, 7921, 529]

In [64]:
#Count and print the no. of elements and the times they are repeating
nl = list()
l = [1,2,3,5,3,6,8,4,6,7,8,4,2,12,5,89,5,4,3,2,5,6,7,8,9,4,3,2,4]
for i in range(len(l)):
    #print(el, l.count(el))
    if l(i+1)!= l(i):
        print(l(i), l.count(l(i)))

TypeError: 'list' object is not callable

In [65]:
a = [1,2,1,4,5,6,[7,7],[7,7]]
a.count([7,7])

2

In [66]:
# to count 7:
a[-1].count(7)

2

In [67]:
#.extend:
A = [1,2,3]
B = [4,5,6]
A.extend(B) #inplace assignment
A

[1, 2, 3, 4, 5, 6]

In [68]:
#.append:
A = [1,2,3]
B = [4,5,6]
A.append(B) #inpace assignment
A

[1, 2, 3, [4, 5, 6]]

In [69]:
# "+":
A = [1,2,3]
B = [4,5,6]
A+B
A

[1, 2, 3]

In [70]:
#".extend" is a permanent solution or inplace assignment but, "+" is just an operation

In [71]:
#".index"
A = [1,2,3]
A.index(2)

1

In [72]:
a =["shiuu", 1,23,1+2j, 4,4+3j]
for el in a:
    if type(el)==complex:
        print(a.index(el))

3
5

In [73]:
#isinstance:
a =["shiuu", 1,23,1+2j, 4,4+3j]
for el in a:
    if isinstance(el, complex):
        print(a.index(el))

3
5

In [74]:
#to check more than two types of conditions
a =["shiuu", 1,23,1+2j, 4,4+3j]
for el in a:
    if isinstance(el, (complex, int)):
        print(a.index(el))

1
2
3
4
5

In [75]:
new_list = [el for el in a if isinstance(el,(complex, int))]
new_list

[1, 23, (1+2j), 4, (4+3j)]

In [76]:
a =["shiuu", 1,23,1+2j, 4,4+3j]
a.insert(2,2)
a

['shiuu', 1, 2, 23, (1+2j), 4, (4+3j)]

In [77]:
a.insert(2000,2)
a

['shiuu', 1, 2, 23, (1+2j), 4, (4+3j), 2]

# Tuples ()

In [78]:
a = (1,2,3,5,6)
type(a)

tuple

In [79]:
a.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [80]:
sorted(a) #it's a list

[1, 2, 3, 5, 6]

In [81]:
a = (1,2,3,5,6)
a.index(2)

1

In [82]:
len(a)

5

In [83]:
a*2

(1, 2, 3, 5, 6, 1, 2, 3, 5, 6)

In [84]:
a**2

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [85]:

#adding elements or doing any mutation is not allowed directly. but it can be possible by converting it into list.
# Tuple is not often used but it is used where "mutability is necessary". Like:if we don't want to change the items in following list.

amazon_cart = [("watch", 5000), ("bag", 2000), ("bottle", 600)]
#rest of the code runs as it is, it will work.

In [86]:
# ask the user for N no of times to add item and show total cost. 
#if item is not present, show it 'out of stock' and do not include its cost in total cost..
#amazon_website = [("watch", 5000), ("bag", 2000), ("bottle", 600), ("phone", 45000), ("laptop", 80000), ("shampoo", 1500)]
#total_cost = 0
#for i in range(3):
    #my_choice = input("item to add to the cart")
   # for el in amazon_website:
        #if my_choice in amazon_website:
          #  print(my_choice)
           # total_cost = total_cost + el[1]
           # print(total_cost)
      #  else:
          #  print("out of stock"

In [87]:
amazon_website = [("watch", 5000), ("bag", 2000), ("bottle", 600), ("phone", 45000), ("laptop", 80000), ("shampoo", 1500)]
total_cost = 0
for i in range(3):
    my_choice = input("select item to add to the cart: ")

select item to add to the cart: watch
select item to add to the cart: bottle
select item to add to the cart: lalptop