# Topics: if else, if elif else, Nested if else, Single line if else, Loops: for, while.

In [1]:
# Nested if-else:if inside if.

In [2]:
#single line:
num= float(input("enter a number:"))
print("Yes" if num>99 else "No" )

enter a number:67
No

In [3]:
num= float(input("enter a number:"))
print("Yes" if num>99 else "No" )

enter a number:89
No

# Loops: While

In [4]:
# no. of attempt of exam
total_marks = 1000
cutoff = 400
scores = [100, 200, 300, 399, 500]

year = 0

while scores[year] <= cutoff:
    print(f"your score is: {scores[year]}")
    print("I'll attempt again")
    year = year + 1

your score is: 100
I'll attempt again
your score is: 200
I'll attempt again
your score is: 300
I'll attempt again
your score is: 399
I'll attempt again

In [5]:
# child is learning to count 10rs. note.
note = 5
i=1
while i <= note:
    print(f"summation is: {i * 10}")
    i=i+1

summation is: 10
summation is: 20
summation is: 30
summation is: 40
summation is: 50

In [6]:
#train journey:
station = ["st_1", "st_2", "st_3", "st_4"]
destination_station = "st_4"
current_station = 0

while station[current_station] != destination_station:
    print(f"this is {station[current_station]}")
    print(f"my destination is : {destination_station}")
    print("continue the journey")
    current_station = current_station + 1
    print(f"Next station is: {station[current_station]}")
    print("------")

this is st_1
my destination is : st_4
continue the journey
Next station is: st_2
------
this is st_2
my destination is : st_4
continue the journey
Next station is: st_3
------
this is st_3
my destination is : st_4
continue the journey
Next station is: st_4
------

# Loop: While_else

In [7]:
#train journey:
station = ["st_1", "st_2", "st_3", "st_4"]
destination_station = "st_4"
current_station = 0

while station[current_station] != destination_station:
    print(f"this is {station[current_station]}")
    print(f"my destination is : {destination_station}")
    print("continue the journey")
    current_station = current_station + 1
    print(f"Next station is: {station[current_station]}")
    print("------")
else:
    print("I've reached my destination")

this is st_1
my destination is : st_4
continue the journey
Next station is: st_2
------
this is st_2
my destination is : st_4
continue the journey
Next station is: st_3
------
this is st_3
my destination is : st_4
continue the journey
Next station is: st_4
------
I've reached my destination

# Loop: for loop

In [8]:
for i in range(0,10):
    print(f"10 x {i}: {i*10}")

10 x 0: 0
10 x 1: 10
10 x 2: 20
10 x 3: 30
10 x 4: 40
10 x 5: 50
10 x 6: 60
10 x 7: 70
10 x 8: 80
10 x 9: 90

In [9]:
for i in range(0,10):
    print("*" * i)

*
**
***
****
*****
******
*******
********
*********

In [10]:
for i in range(1,11):
    print("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********

In [11]:
item_cost = [100, 200, 300, 400, 500]
total = 0
for i in range(0, 5):
    print(f"total_sum = {total + item_cost[i]}")
    total = total + item_cost[i]

total_sum = 100
total_sum = 300
total_sum = 600
total_sum = 1000
total_sum = 1500

In [12]:
cost_items = [100,200,129,456,1000]

total_sum = 0

for cost in cost_items:
    print(f"{total_sum} = {total_sum} + {cost}")
    total_sum = total_sum + cost
    print(f"after adding, total sum = {total_sum}")
    print("-----")
print(f"Total amount to pay: {total_sum}")

0 = 0 + 100
after adding, total sum = 100
-----
100 = 100 + 200
after adding, total sum = 300
-----
300 = 300 + 129
after adding, total sum = 429
-----
429 = 429 + 456
after adding, total sum = 885
-----
885 = 885 + 1000
after adding, total sum = 1885
-----
Total amount to pay: 1885

In [13]:
cost

1000

In [14]:
cost_items = [100,200,129,456,1000, 199, 299]

total_sum = 0
budget = 2000

for cost in cost_items:
    if total_sum > budget:
        break
    else:
        total_sum = total_sum + cost
print(f"total amount to be paid: {total_sum}")

total amount to be paid: 2084

In [17]:
cost_items = [100,200,129,456,1000, 199, 299]

total_sum = 0
budget = 2000

for cost in cost_items:
    total_sum = total_sum + cost
    if total_sum <= budget:
        print(f"sum: {total_sum}")
    else:
        break
        total_sum = total_sum - cost
        print(f"total amount to be paid: {total_sum}")

sum: 100
sum: 300
sum: 429
sum: 885
sum: 1885

In [21]:
#correct solution
cost_items = [100,200,129,456,1000, 199, 299]

total_sum = 0
budget = 2000

for cost in cost_items:
    total_sum = total_sum + cost
    print(f"sum: {total_sum}")
    if total_sum > budget:
        print(f"sum is greater than budget: {budget}")
        print("please remove the last added item")
        total_sum = total_sum - cost
        break
print(f"total amount to be paid: {total_sum}")

sum: 100
sum: 300
sum: 429
sum: 885
sum: 1885
sum: 2084
sum is greater than budget: 2000
please remove the last added item
total amount to be paid: 1885

In [22]:
for i in range(1, 100):
    print(i)
    if i >= 50:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [23]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,15]
item = 0
for i in l:
    print(f"{i}")

1
2
3
4
5
6
7
8
9
10
11
12
13
15

In [24]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,15]
item = 0
for i in l:
    print(f"{i}")
    if i == 12:
        break

1
2
3
4
5
6
7
8
9
10
11
12

In [26]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,15]
item = 0
for i in l:
    if i == 12:
        continue
    print(f"{i}")

1
2
3
4
5
6
7
8
9
10
11
13
15

In [27]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,15]
item = 0
for i in l:
    if i == 12:
        pass
    print(f"{i}")

1
2
3
4
5
6
7
8
9
10
11
12
13
15