In [1]:
#convert float to integer
A = 50.22
type(A)

float

In [2]:
A=int(A)
type(A)
print(A)

50

In [3]:
type(A)

int

In [4]:
#convert int to bool
A=10
print(f"data type before: {type(A)}; value of A: {A}")
A=bool(A)
print(f"data type after: {type(A)}; value of A: {A}")

data type before: <class 'int'>; value of A: 10
data type after: <class 'bool'>; value of A: True

In [5]:
# 0 will give us False
A=0
print(f"data type before: {type(A)}; value of A: {A}")
A=bool(A)
print(f"data type after: {type(A)}; value of A: {A}")

data type before: <class 'int'>; value of A: 0
data type after: <class 'bool'>; value of A: False

In [6]:
A=-50
print(f"data type before: {type(A)}; value of A: {A}")
A=bool(A)
print(f"data type after: {type(A)}; value of A: {A}")

data type before: <class 'int'>; value of A: -50
data type after: <class 'bool'>; value of A: True

In [7]:
#string to bool
A="shivani"
print(f"data type before: {type(A)}; value of A: {A}")
A=bool(A)
print(f"data type after: {type(A)}; value of A: {A}")

data type before: <class 'str'>; value of A: shivani
data type after: <class 'bool'>; value of A: True

In [8]:
#empty str to bool gives us False
A=""
print(f"data type before: {type(A)}; value of A: {A}")
A=bool(A)
print(f"data type after: {type(A)}; value of A: {A}")

data type before: <class 'str'>; value of A:
data type after: <class 'bool'>; value of A: False

In [9]:
#Multi variable assignment
firstName, middleName, surName = "Shivani", "Babita", "Mongs"
print(f"{firstName}.{surName}@gmail.com")

Shivani.Mongs@gmail.com

In [11]:
#User input
name=input("Name: ")
address = input("Address: ")
yob=input("BOD: ")
Age = 2023- int(yob)
weight = input("weight: ")

Name: shivani mongs
Address: rke
BOD: 1995
weight: 57

In [14]:
print(f"""My name is: {name}
My address is: {address}
My age is: {Age}
my weight is: {weight}""")

My name is: shivani mongs
My address is: rke
My age is: 28
my weight is: 57

In [15]:
#User input
name=input("Name: ")
address = input("Address: ")
yob=int(input("BOD: "))
Age = 2023- yob
weight = input("weight: ")

Name: SM
Address: rke
BOD: 1995
weight: 57

In [16]:
print(f"""My name is: {name}
My address is: {address}
My age is: {Age}
my weight is: {weight}""")

My name is: SM
My address is: rke
My age is: 28
my weight is: 57

In [17]:
a=22
a=complex(a)
print(a)

(22+0j)